<settings>
	<boardTiles type="Common">
		<tile Id="1"  Properties="1"  Position="766, 0" />
		<tile Id="2"  Properties="1"  Position="894, 0" />
		<tile Id="3"  Properties="1"  Position="1022, 0" />
		<tile Id="4"  Properties="1"  Position="1022, 72" />
		<tile Id="5"  Properties="1"  Position="1022, 144" />
		<tile Id="6"  Properties="1"  Position="1022, 216" />
		<tile Id="7"  Properties="1"  Position="1022, 288" />
		<tile Id="8"  Properties="1"  Position="1022, 360" />
		<tile Id="9"  Properties="1"  Position="1150, 432" />
		<tile Id="10" Properties="1"  Position="1278, 432" />
		<tile Id="11" Properties="1"  Position="1406, 432" />
		<tile Id="12" Properties="1"  Position="1534, 432" />
		<tile Id="13" Properties="1"  Position="1662, 432" />
		<tile Id="14" Properties="1"  Position="1790, 432" />
		<tile Id="15" Properties="1"  Position="1790, 504" />
		<tile Id="16" Properties="1"  Position="1790, 576" />
		<tile Id="17" Properties="1"  Position="1662, 576" />
		<tile Id="18" Properties="1"  Position="1534, 576" />
		<tile Id="19" Properties="1"  Position="1406, 576" />
		<tile Id="20" Properties="1"  Position="1278, 576" />
		<tile Id="21" Properties="1"  Position="1150, 576" />
		<tile Id="22" Properties="1"  Position="1022, 648" />
		<tile Id="23" Properties="1"  Position="1022, 720" />
		<tile Id="24" Properties="1"  Position="1022, 792" />
		<tile Id="25" Properties="1"  Position="1022, 864" />
		<tile Id="26" Properties="1"  Position="1022, 936" />
		<tile Id="27" Properties="1"  Position="1022, 1008" />
		<tile Id="28" Properties="1"  Position="894, 1008" />
		<tile Id="29" Properties="1"  Position="766, 1008" />
		<tile Id="30" Properties="1"  Position="766, 936" />
		<tile Id="31" Properties="1"  Position="766, 864" />
		<tile Id="32" Properties="1"  Position="766, 792" />
		<tile Id="33" Properties="1"  Position="766, 720" />
		<tile Id="34" Properties="1"  Position="766, 648" />
		<tile Id="35" Properties="1"  Position="638, 576" />
		<tile Id="36" Properties="1"  Position="510, 576" />
		<tile Id="37" Properties="1"  Position="382, 576" />
		<tile Id="38" Properties="1"  Position="254, 576" />
		<tile Id="39" Properties="1"  Position="126, 576" />
		<tile Id="40" Properties="1"  Position="0, 576" />
		<tile Id="41" Properties="1"  Position="0, 504" />
		<tile Id="42" Properties="1"  Position="0, 432" />
		<tile Id="43" Properties="1"  Position="126, 432" />
		<tile Id="44" Properties="1"  Position="254, 432" />
		<tile Id="45" Properties="1"  Position="382, 432" />
		<tile Id="46" Properties="1"  Position="510, 432" />
		<tile Id="47" Properties="1"  Position="638, 432" />
		<tile Id="48" Properties="1"  Position="766, 360" />
		<tile Id="49" Properties="1"  Position="766, 288" />
		<tile Id="50" Properties="1"  Position="766, 216" />
		<tile Id="51" Properties="1"  Position="766, 144" />
		<tile Id="52" Properties="1"  Position="766, 72" />

		<tile Id="53"  Properties="1"  Position="894, 72" Color="0" />
		<tile Id="54"  Properties="1"  Position="894, 144" Color="0" />
		<tile Id="55"  Properties="1"  Position="894, 216" Color="0" />
		<tile Id="56"  Properties="1"  Position="894, 288" Color="0" />
		<tile Id="57"  Properties="1"  Position="894, 360" Color="0" />
		<tile Id="58"  Properties="2"  Position="894, 432" Color="0" />

		<tile Id="59" Properties="1"  Position="1662, 504" Color="1" />
		<tile Id="60" Properties="1"  Position="1534, 504" Color="1" />
		<tile Id="61" Properties="1"  Position="1406, 504" Color="1" />
		<tile Id="62" Properties="1"  Position="1278, 504" Color="1" />
		<tile Id="63" Properties="1"  Position="1150, 504" Color="1" />
		<tile Id="64" Properties="2"  Position="1022, 504" Color="1" />

		<tile Id="65" Properties="1"  Position="126, 504"  Color="2" />
		<tile Id="66" Properties="1"  Position="254, 504"  Color="2" />
		<tile Id="67" Properties="1"  Position="382, 504"  Color="2" />
		<tile Id="68" Properties="1"  Position="510, 504"  Color="2" />
		<tile Id="69" Properties="1"  Position="638, 504"  Color="2" />
		<tile Id="70" Properties="2"  Position="766, 504"  Color="2" />

		<tile Id="71" Properties="1"  Position="894, 936" Color="3" />
		<tile Id="72" Properties="1"  Position="894, 864"  Color="3" />
		<tile Id="73" Properties="1"  Position="894, 792"  Color="3" />
		<tile Id="74" Properties="1"  Position="894, 720"  Color="3" />
		<tile Id="75" Properties="1"  Position="894, 648"  Color="3" />
		<tile Id="76" Properties="2"  Position="894, 576"  Color="3" />
	</boardTiles>
</settings>